html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Exo 2", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  color: inherit;
}

ol,
ul {
  list-style: none;
}

.banner {
  background-image: url(../img/banner-min.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  height: 112px;
  color: #fff;
}

.logo {
    font-size: 2rem;
}

.nav-list a{
    padding: 16px;
    margin: 0 16px;
}

.border {
    border-radius: 0.125rem;
    border-width: 2px !important;
}

.btn-container {
    margin: 40px 6px 6px;
}

.title {
    gap: 0 30px;
}